{% extends "base.html.twig" %}

{% block title %}Contact{{ parent() }}{% endblock %}

{% block contenu %}

    <h1 class="text-primary text-center">Contact</h1>


    <div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
        <th scope="col">Email</th>
        <th scope="col">Téléphone</th>
        <th scope="col">FAX</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>contact@shopshop.fr</td>
        <td>0 803 45 46 46</td>
        <td>07 08 09 10 11</td>
        </tr>
        </tbody>
    </table>
    </div>



{% endblock %}