{% extends "base.html.twig" %}

{% block title %}Validation{{ parent() }}{% endblock %}

{% block contenu %}
<h1>Félicitation votre compte est activé</h1>
<p>Vous pouvez dés a présent vous connecter</p>
<a class="btn btn-primary" href="index.php?page=connection">Se connecter</a>
{% endblock %}